<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSFileUsageDescription</key>
	<string>This app needs access to files in order to load medication data.</string>
	<key>NSCameraUsageDescription</key>
	<string>To scan QR</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app sends medication reminders at your scheduled times.</string>
</dict>
</plist>
